.footer__container {
  margin: auto;
  display: flex;
  background-color: #43457b;
  color: #fff;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 4rem;
}

.footer__options {
  max-width: 80rem;
  margin: auto;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.footer__options > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
  text-align: center;
}

.footer__options > ul > li > h3 {
  font-weight: 800;
  margin-bottom: 1.5rem;
}
.social__icons {
  margin-right: 0.25rem;
}
.footer__options {
  font-weight: 300;
  letter-spacing: 1px;
}

.footer__options ul > li {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.footer__options ul > li:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #2098d1;
  height: 1px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.footer__options ul > li:hover:before,
.footer__options ul > li:focus:before,
.footer__options ul > li:active:before {
  right: 0;
}
@media (max-width: 700px) {
  /* .footer__options {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
  } */

  .footer__options {
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .footer__options > ul > li > h3 {
    font-weight: 800;
    margin-bottom: 0.2rem;
    text-align: center;
  }
  .footer__container {
    padding: 1;
  }
}
@media (max-width: 450px) {
  /* .footer__options {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
  } */

  .footer__options {
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .footer__options > ul > li > h3 {
    font-weight: 800;
    margin-bottom: 0.2rem;
    text-align: center;
  }
  .footer__container {
    padding: 1;
    position: relative;
  }
}
