.login__container {
  max-width: 80rem;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}
.login__graphic {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.login__graphic > div > p {
  font-size: 3rem;
  font-style: italic;
  letter-spacing: 2px;
  margin: 0 2rem;
  color: #43457b;
  font-weight: 400;
}

.login__graphic > div > p:last-child {
  font-weight: 900;
}

.login__graphic > img {
  margin: 1rem auto;
  padding: 3rem;
}

.login__form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
  margin-right: 3rem;
}
